<div class="container grid grid-rows-2 content-center pt-10 h-screen" style="margin-top: 70px">
  <div>
    <%= react_component("LoginForm") %> 
  </div>
  <div class="flex justify-end mr-40 mt-32">
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: "false" } do %>
      <div class="flex items-center justify-center hover:bg-gray-300 border border-2 border-gray-600 font-semibold rounded-lg px-3 py-2" style= " margin-top: 0px;width: 300px; height: 50px;">
        <img src="<%= image_path('gglogo.png') %>" class="w-5 h-5 mr-2">
        Login with Google  
      </div>
    <% end %>
  </div>
</div>